@import '../../CSS/base';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: auto;
  }
}

@media (orientation: landscape) {
  .container {
    min-height: 70vh;
  }
}

@media (orientation: portrait) {
  .container {
    max-height: 85vh;
  }
}

@media (min-width: $media_computer_large) {
  .container {
    height: auto;
    margin: 2rem 0;
    min-height: auto;
  }
}
