.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.landscape {
  height: 100%;
  width: auto;
}

.portrait {
  width: 100%;
  height: auto;
}
