@import '../../CSS/base';

.hidden_left {
  opacity: 0;
  transform: translateX(-30rem);
  transition: all 1s;
}

.hidden_right {
  opacity: 0;
  transform: translateX(30rem);
  transition: all 1s;
}

.slide {
  opacity: 1;
  transform: translateX(0);
}

.overview {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_info {
    transform: translateY(-2rem);
    align-self: flex-end;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    width: 90%;

    h3 {
      margin-top: 0;
      font-family: $font_serif;
      font-size: 2rem;
    }
    h4 {
      margin: 0;
    }
  }

  &_header {
    font-size: 1.3rem;
    margin: 1rem 0;
  }

  &_img {
    position: relative;
    width: 90%;
    overflow: hidden;
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__left {
    justify-content: flex-end;
  }
}

.overview_occupancy,
p {
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0 1.5rem 0;
}

@media (min-width: $media_tablet) {
  .overview {
    margin: 1rem 0;
    &_img {
      padding-bottom: 80%;
    }
  }
}

@media (min-width: $media_tablet_landscape) {
  .overview {
    margin: 2rem 0;
    flex-direction: row;
    align-items: center;

    &_info {
      padding: 2rem;
      z-index: 1;
      transform: translateX(0);
      transform: translateY(-50%);
      position: absolute;
      right: 0;
      top: 50%;
      width: 50%;

      &__right {
        left: 0;
      }
    }

    &_img {
      width: 80%;
      padding-bottom: 60%;
    }
  }
}

@media (min-width: $media_computer_small) {
  .overview {
    &_img {
      padding-bottom: 50%;
    }
  }
}
