@import '../../CSS/base';

.header {
  max-width: 23ch;
}

.para {
  max-width: 60ch;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
