@import '../../../CSS/base';

.nav {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ddd;
  display: inline-block;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.65;
  }
}

.nav + .nav {
  margin-top: 1rem;
}

.active {
  font-weight: 700;
  color: #fff;
}

@media (min-width: $media-tablet) {
  .active {
    border-bottom: 1.5px solid #000;
    font-weight: normal;
    color: #000;
  }
  .nav {
    font-size: 1rem;
    color: #000;
  }
  .nav + .nav {
    margin-left: 2rem;
    margin-top: 0;
  }
}
