@import '../../CSS/base';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: $media-tablet) {
  .container {
    flex-direction: row;
  }
}
