@import '../../CSS/base';

.container {
  --gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
  }

  li + li {
    margin-top: 1rem;
  }
}

.nav {
  font-size: 1.5rem;
  color: #333333;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.65;
  }
}

.nav + .nav {
  margin: 1rem 0 0 0;
}

.active {
  border-bottom: 1.5px solid #555;
  font-weight: normal;
  opacity: 0.65;
}

@media (min-width: $media-tablet) {
  .container {
    flex-direction: row;

    li + li {
      margin-left: 2rem;
      margin-top: 0;
    }
  }

  .nav {
    font-size: 1rem;
    color: #000;
  }

  .nav + .nav {
    margin: 0 0 0 2rem;
  }
}
