@import './base';

p,
li {
  font-family: $font-main;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #000;
  font-family: $font-main;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  margin: 1.5rem 0;
}

.btn {
  padding: 1.5em 3em;
  border-radius: 1000px;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
  font-family: $font_main;
  font-weight: bold;
  flex-shrink: 0;
}

.btn--small {
  padding: 0.5em 2em;
}

.btn--dark {
  color: #fff;
  border: 2px solid #fff;

  &:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
  }
}

.btn--light {
  border: 2px solid #000;
  color: #000;
  &:hover {
    background-color: $color_dark_blue;
    border: 2px solid $color_dark_blue;
    color: #fff;
  }
}

.section {
  padding: 4rem 0;
  position: relative;

  &_header {
    font-family: $font-serif;
    font-size: 1.7rem;
  }

  &_detail {
    max-width: 50ch;
  }
}

.section--dark {
  background-color: $color_dark_blue;
  color: #fff;
}

.section--light:before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 200vw;
  background-color: $color_light_beige;
  background-size: cover;
}

.explore-section {
  min-height: 70vh;
  margin: 6rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__main {
    font-family: $font_serif;
    font-size: 2rem;
  }
}

.skip a {
  position: absolute;
  display: block;
  margin-top: 1em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;

  font-size: 1.5rem;
}
.skip a:focus {
  text-align: center;
  position: sticky;
  width: 90vw;
  margin: auto;
  height: auto;
  opacity: 1;
}

@media (min-width: $media_tablet) {
  .explore-section {
    &__main {
      font-size: 2.7rem;
    }
  }
}

@media (min-width: $media_computer_large) {
  .explore-section {
    min-height: auto;
    margin: 13rem 2rem;
  }
}
