@import './base';

p {
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  margin: 1.5em 0;
}

.section {
  padding: 2rem 0;
  position: relative;
}

.section-light:before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 200vw;
  background-color: $color_light_beige;
  background-size: cover;
}
