@import '../../CSS/base';

.footer {
  z-index: 15;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &_section {
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 0.5rem;
    }
    P {
      margin: 0;
    }
  }
}

@media (min-width: $media_tablet) {
  .footer {
    flex-direction: row;
  }

  .footer_section:last-child {
    margin-left: auto;
  }
}
